	.light {
		background-color: FoloralWhite;
	}
	.dark {
		background-color: LightCyan;
	}
	.thc {
		padding: 4px;
		background-color:  PeachPuff;
		border-color: #FFBDA0;
		border-style: ridge;	
		text-align: center;
	 }
	.selected_row {
		background-color: #F39814;
	}
	table.data td {
		border-right: 1px solid grey;
		border-bottom: 1px solid grey;
		padding-left: 7px;
		padding-right: 4px;
	}
	table.data th {
		font-weight: normal;
	}
	table.data td.plain {
		border: 0;
	}
	.slidding_cell {
		display: none;
	}
	.coution {
		background-color: LightCoral;
	}
